/*VARIABLES*/
.titulo {
  visibility: hidden; }

.cajalogo {
  height: 400px;
  width: 800px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start; }

.logo {
  height: 400px;
  width: 400px;
  border-radius: 100px;
  margin: 5px;
  border: black solid;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.textologo {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 5px;
  border: black solid 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-shadow: white 1px 2px;
  word-wrap: break-word;
  text-align: justify;
  display: flex;
  justify-content: center; }

h1 {
  font-style: normal;
  font-size: 60px;
  color: #680018;
  background-color: #ffce8e9c;
  text-align: center;
  text-shadow: white 1px 1px;
  /*GRADIENTE*/
  background: #8a4e05;
  background: radial-gradient(circle, rgba(138, 78, 5, 0.8) 0%, rgba(255, 255, 255, 0.77) 33%, rgba(255, 196, 0, 0.6) 61%); }

h2 {
  margin: 10px;
  padding: 5px;
  font-style: normal;
  color: #680018; }

h3 {
  font-size: 18px;
  color: #680018; }

body {
  background-image: url("../img/fondo.jpg");
  font-style: normal;
  background-color: rgba(174, 223, 154, 0.6);
  background-size: cover; }

.scroll {
  position: relative;
  overflow-y: scroll;
  height: 100px;
  width: 500px;
  margin: 10px;
  padding: 5px;
  text-shadow: white 1px 1px;
  font-size: 26px;
  font-family: 'Newsreader', serif;
  color: #252525; }

/*INDEX*/
.cajaopiniones {
  width: 600px;
  height: 200px; }

/*LINKS*/
a:link {
  color: salmon;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif; }

a:visited {
  color: salmon; }

a:hover {
  color: slateblue; }

ol {
  color: #ff0000;
  list-style-type: circle;
  text-shadow: 1px 1px black; }

/*CENTROS*/
.textotable {
  text-align: center;
  font-size: 20px;
  margin-left: 20px;
  color: black; }

.fondotable {
  height: 500px;
  width: 900px;
  margin: 20px;
  padding: 20px;
  text-align: justify;
  text-shadow: 1px 1px white;
  border: 3px solid rgba(0, 0, 0, 0.719);
  border-radius: 25px;
  background-image: url("../img/fondoIndex.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: round; }

/*SERVICIOS*/
.serviciosPadre {
  background: #cda760;
  background: linear-gradient(173deg, rgba(205, 167, 96, 0.916404) 23%, #fbf7f6 100%);
  font-family: 'PT Sans', sans-serif;
  text-align: justify;
  color: #2b2828;
  border-radius: 20px;
  /*Box*/
  width: 1200px;
  height: 90vh;
  border: 4px;
  border-color: #ac4c26;
  border-color: radial-gradient(circle, rgba(172, 76, 38, 0.924807) 0%, rgba(236, 230, 220, 0.916404) 100%);
  border-style: inset;
  padding: 2px;
  margin: 100px 100px 10px 55px;
  /*FLEX*/
  display: flex;
  justify-content: center;
  align-items: center; }

.servicio1 {
  width: 200px;
  height: 70vh;
  border-radius: 10px;
  border: solid 2px;
  border-color: #e7b271;
  border-color: radial-gradient(circle, rgba(231, 178, 113, 0.924807) 0%, rgba(205, 167, 96, 0.916404) 100%);
  border-style: ridge;
  margin: 1vh 20px 2vh 20px;
  padding: 25px 20px 50px 25px;
  display: flex;
  flex-direction: column; }

.titservicio1 {
  width: 20%;
  height: 25%;
  padding: 2px;
  margin: 1px;
  text-align: center;
  font-size: 30px;
  text-shadow: white 1px 1px;
  display: flex; }

.textservicio1 {
  width: 80%;
  height: 75%;
  margin: 2px;
  border: 1px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.servicio2 {
  width: 200px;
  height: 70vh;
  border-radius: 10px;
  border: solid 2px;
  border-color: #e7b271;
  border-color: radial-gradient(circle, rgba(231, 178, 113, 0.924807) 0%, rgba(205, 167, 96, 0.916404) 100%);
  border-style: ridge;
  margin: 1vh 20px 2vh 20px;
  padding: 25px 20px 50px 25px;
  display: flex;
  flex-direction: column; }

.titservicio2 {
  width: 20%;
  height: 25%;
  padding: 2px;
  margin: 1px;
  text-align: center;
  font-size: 30px;
  text-shadow: white 1px 1px;
  display: flex; }

.textservicio2 {
  width: 80%;
  height: 75%;
  margin: 2px;
  border: 1px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.servicio3 {
  width: 200px;
  height: 70vh;
  border-radius: 10px;
  border: solid 2px;
  border-color: #e7b271;
  border-color: radial-gradient(circle, rgba(231, 178, 113, 0.924807) 0%, rgba(205, 167, 96, 0.916404) 100%);
  border-style: ridge;
  margin: 1vh 20px 2vh 20px;
  padding: 25px 20px 50px 25px;
  display: flex;
  flex-direction: column; }

.titservicio3 {
  width: 20%;
  height: 25%;
  padding: 2px;
  margin: 1px;
  text-align: center;
  font-size: 30px;
  text-shadow: white 1px 1px;
  display: flex; }

.textservicio3 {
  width: 80%;
  height: 75%;
  margin: 2px;
  border: 1px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.servicio4 {
  width: 200px;
  height: 70vh;
  border-radius: 10px;
  border: solid 2px;
  border-color: #e7b271;
  border-color: radial-gradient(circle, rgba(231, 178, 113, 0.924807) 0%, rgba(205, 167, 96, 0.916404) 100%);
  border-style: ridge;
  margin: 1vh 20px 2vh 20px;
  padding: 25px 20px 50px 25px;
  display: flex;
  flex-direction: column; }

.titservicio4 {
  width: 20%;
  height: 25%;
  padding: 2px;
  margin: 1px;
  text-align: center;
  font-size: 30px;
  text-shadow: white 1px 1px;
  display: flex; }

.textservicio4 {
  width: 80%;
  height: 75%;
  margin: 2px;
  border: 1px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

/*NAVBAR*/
.navbar-brand .nav-item .navbar-nav .nav-link .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.342); }

/*EQUIPO*/
.textequip {
  width: 1000px;
  height: 70px;
  background: rgba(226, 200, 153, 0.466);
  text-shadow: white 2px 2px;
  text-align: center;
  font-size: 20px; }

/*BOOSTRAP*/
.carouselContainer {
  height: 500px;
  width: 500px;
  text-shadow: 2px 1px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px grey;
  padding: 2px; }

/*QUIENES SOMOS*/
.descripcionQuienesSomos {
  text-align: justify;
  letter-spacing: 1.5px;
  font-size: 150%;
  font-weight: bold; }

/*GRID*/
.container {
  display: grid;
  width: 800px;
  height: 900px;
  border: solid 1px black;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: 1fr 1fr 4fr;
  padding: 10px;
  margin: 20px;
  justify-items: space-between;
  grid-row-gap: 5px; }

.jefeImagenes {
  text-align: center; }

.jefeCirujia {
  text-align: center; }

.jefeExoticos {
  text-align: center; }

.jefePeluqueria {
  text-align: center; }

/*TRANSICIONES*/
.imgExoticos {
  height: 100px;
  width: 150px;
  transition: all 2s; }

.imgExoticos:hover {
  height: 250px;
  width: 200px; }

/*ANIMACION*/
.imgImagenes {
  height: 100px;
  width: 150px;
  margin: 5px; }

/*Theme BOOSTRAP*/
.subheading {
  text-shadow: 2px 1px black; }
