/*VARIABLES*/ 

$fondoimagen: url("../img/fondo.jpg");

.titulo{
    
    visibility:hidden
}

.cajalogo {
height: 400px;
width: 800px;
margin: 10px;

display:flex;
flex-direction: row;
justify-content: center;
align-content: flex-start;


}

.logo{

    height: 400px;
    width: 400px;
    border-radius: 100px;
    margin: 5px;
    border: black solid;
    padding: 7px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
/*NAVBAR*/

header {
     
    width: 100%;
    background-color: rgba(202, 150, 73, 0.753);
    display:flex;
    align-content: flex-start;
    flex-direction:row;
}

#btn-menu {
    display: none;
    

}

header label {

    
    
    height: 60px;
    padding: 5px;

}
label{
    width: 60px;
}
    header label:hover {
    cursor: pointer;
    display:flex;
    
    


}


.menu ul {
    margin:5px;
    list-style: none;
    padding: 5px 10px;
    display: flex;
    flex-direction:row;
    

}



.menu li:hover {
    background: rgba (0,0,0,0.3);
    


}
.menu li a {
    display:block;
    padding: 15px 20px;
    color: rgb(68, 48, 29);
    text-decoration: none;

}






.textologo{
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    border: black solid 2px;

    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    text-shadow: rgb(219, 213, 213) 1px 2px;
    background-color: #fbac7e9a;
    background-image: linear-gradient(62deg, #fbac7e8c 0%, #f7cf687e 100%);

    
    
    
    word-wrap: break-word;
    text-align: justify;


    display:flex;
    justify-content: center;
    
   
}


h1 {

    font-style: normal; 
    font-size: 60px ; 
    color: #680018 ; 
    background-color: #ffce8e9c;
    text-align: center;
    text-shadow: white 1px 1px;
    text-decoration: underline;


    /*GRADIENTE*/

    background: rgb(138,78,5);
    background: radial-gradient(circle, rgba(138,78,5,0.8) 0%, rgba(255,255,255,0.77) 33%, rgba(255,196,0,0.6) 61%);

}

h2 {
    margin-left: 10px;
    padding: 20px;
    font-size: 40px;
    color: #680018 ;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(87, 82, 82);
    

}

h3 {
    margin-left: 10px;
    padding: 20px ;
    font-size: 40px;
    color: #680018 ;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(87, 82, 82);
}

body {
    background-image: $fondoimagen;
    font-style:normal ;
    background-color: rgba(174, 223, 154, 0.6);
    background-size: cover;
    

}
.opinion {
    width: 180px;
    height: 60px;
    margin-left: 10px;
    padding: 0px 20px 5px 20px;
    display:flex;
    flex-direction: row;
    align-items:center;
}


 .scroll{
    position: relative;
    overflow-y: scroll;
    height: 100px;
    width: 500px;
    margin: 10px 0 10px 20px;
    padding: 10px;
    text-shadow: white 1px 1px;
    font-size: 26px;
    font-family: 'Newsreader', serif;
    color: rgb(37, 37, 37)
 }
/*INDEX*/

.cajaopiniones {
    width: 600px;
    height: 200px;
}

/*LINKS*/

a:link {
    color:salmon;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;

}
a:visited
 {

color: salmon

}
a:hover {
    color:slateblue
}




/*CENTROS*/


.textotable {
    text-align: center;
    
    font-size: 20px;
    margin-left: 20px;
    
    color:black;
    

}
.fondotable ol {
    
        color: #ff7e28;
        list-style-type: circle;
        text-shadow: 1px 1px black;
    
}
.fondotable {
    height: 500px;
    width: 900px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-shadow: 1px 1px white;
    
    
    border: 3px solid  rgb(0, 0, 0) ; 
    
    background-image: url("../img/fondoTabla.jpg") ;
    
    background-size: 100%;
    background-position:center;
    background-repeat:round;
    

}

/*----CONTACTO----*/

.formulario {
    margin: 20px;
    font-weight: bold;
    

}
.formulario input {
    margin-left: 10px;
}
#select {
    margin-left: 10px;
}

/*SERVICIOS*/

.serviciosPadre {
    background: rgb(205,167,96);
    background: linear-gradient(173deg, rgba(205,167,96,0.9164040616246498) 23%, rgba(251,247,246,1) 100%);
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
    color: rgb(43, 40, 40);
    border-radius: 20px;

    /*Box*/

    width: 80%;
    height: 80%;
    border: 4px;
    border-color: rgb(172,76,38);
    border-color: radial-gradient(circle, rgba(172,76,38,0.9248074229691877) 0%, rgba(236,230,220,0.9164040616246498) 100%);
    border-style: inset ;
    padding: 2px;
    margin: 10px 10px 10px 15px;
    
    
    
    /*FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.servicio1{
    
    width: 20%;
    height: 70vh;
    border-radius: 10px;
    border: solid 2px ;
    border-color:   rgb(231,178,113);
    border-color: radial-gradient(circle, rgba(231,178,113,0.9248074229691877) 0%, rgba(205,167,96,0.9164040616246498) 100%);
    border-style: ridge;
    margin: 1vh 20px 2vh 20px ;
    padding: 25px 20px 50px 25px;


    display: flex;
    flex-direction: column;
    align-items:stretch;
    
    
   
}
.titservicio1{
    width: 100%;
    height: 25%;
    padding: 2px;
    margin: 1px;
    text-align: center;
    font-size: 26px;
    text-shadow: white 1px 1px;


    display:flex;
    


}

.textservicio1{
    width: 100%;
    height: 75%;
    margin: 2px;
    border:1px;
    
    font-size: 14px;


    display: flex;
    align-items:flex-end;
    justify-content: center;


}


.servicio2{
   

    width: 20%;
    height: 70vh;
    border-radius: 10px;
    border: solid 2px ;
    border-color:   rgb(231,178,113);
    border-color: radial-gradient(circle, rgba(231,178,113,0.9248074229691877) 0%, rgba(205,167,96,0.9164040616246498) 100%);
    border-style: ridge;
    margin: 1vh 20px 2vh 20px ;
    padding: 25px 20px 50px 25px;


    display: flex;
    flex-direction: column;
    
    
}

.titservicio2{
    width: 100%;
    height: 25%;
    padding: 2px;
    margin: 1px;
    text-align: center;
    font-size: 26px;
    text-shadow: white 1px 1px;

    display:flex;
    


}

.textservicio2{
    width: 100%;
    height: 75%;
    margin: 2px;
    border:1px;
    
    font-size: 14px;


    display: flex;
    align-items:flex-end;
    justify-content: center;


}




.servicio3{
    

    width: 20%;
    height: 70vh;
    border-radius: 10px;
    border: solid 2px ;
    border-color:   rgb(231,178,113);
    border-color: radial-gradient(circle, rgba(231,178,113,0.9248074229691877) 0%, rgba(205,167,96,0.9164040616246498) 100%);
    border-style: ridge;
    margin: 1vh 20px 2vh 20px ;
    padding: 25px 20px 50px 25px;


    display: flex;
    flex-direction: column;
    
    
}


.titservicio3{
    width: 100%;
    height: 25%;
    padding: 2px;
    margin: 1px;
    text-align: center;
    font-size: 26px;
    text-shadow: white 1px 1px;
    display:flex;
    


}

.textservicio3{
    width: 100%;
    height: 75%;
    margin: 2px;
    border:1px;
    
    font-size: 14px;


    display: flex;
    align-items:flex-end;
    justify-content: center;

    


}





.servicio4{
  

    width: 20%;
    height: 70vh;
    border-radius: 10px;
    border: solid 2px ;
    border-color:   rgb(231,178,113);
    border-color: radial-gradient(circle, rgba(231,178,113,0.9248074229691877) 0%, rgba(205,167,96,0.9164040616246498) 100%);
    border-style: ridge;
    margin: 1vh 20px 2vh 20px ;
    padding: 25px 20px 50px 25px;


    display: flex;
    flex-direction: column;
}


.titservicio4{
    width: 100%;
    height: 25%;
    padding: 2px;
    margin: 1px;
    text-align: center;
    font-size: 26px;
    text-shadow: white 1px 1px;
    display:flex;
    
    
    


}

.textservicio4{
    width: 100%;
    height: 75%;
    margin: 2px;
    border:1px;
    
    font-size: 14px;


    display: flex;
    align-items:flex-end;
    justify-content: center;


}

    








/*EQUIPO*/

.textequip{
    
    width: 100%;
    height: 70px;
    background: rgba(226, 200, 153, 0.466);
    text-shadow: white 2px 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;

}




/*BOOSTRAP*/
.carouselContainer{
    height: 500px;
    width: 500px;
    text-shadow: 2px 1px rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px rgb(0, 0, 0);
    padding: 2px;
    

    

  
}


/*QUIENES SOMOS*/

.descripcionQuienesSomos{
    
    height: 50%;
    width: 81%;
    margin: 10px 20px;
    text-align: justify;
    letter-spacing: 1.5px;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 2px 2px white;


}
/*GRID*/
.container {
    display:grid;
    width: 800px;
    height: 900px;
    border: solid 1px rgb(0, 0, 0);
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 1fr 1fr 4fr;
    padding: 10px;
    margin: 20px;
    justify-items: space-between;
    grid-row-gap: 5px;
    

}

.jefeImagenes{
    text-align: center;
}


.jefeCirujia{
    text-align: center;
}


.jefeExoticos{
    text-align: center;
}


.jefePeluqueria{
text-align: center;
}

/*TRANSICIONES*/

.imgExoticos {

    height: 100px;
    width: 150px;
    
    transition: all 2s;
    
}

.imgExoticos:hover {

    height: 250px;
    width: 200px;
    
}

/*ANIMACION*/

.imgImagenes {

    height: 100px;
    width: 150px;
    margin: 5px;
    


}



/*Theme BOOSTRAP*/ 

.subheading {
    text-shadow: 2px 1px black;
}


/*-----RESPONSIVE-----*/

@media (max-width: 768px){
    .d-md-block{
        display:block;
    }
    .d-none {
        display: block !important;
    }
    .textequip {
        height: 80%;
    }
    /*------------SERVICIOS----------*/
    .serviciosPadre{
        display:flex;
        flex-direction: column;

    }
    .servicio1{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio2 {
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio3{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio4{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }

}

@media (max-width: 576px){
    

    /*----INDEX-----*/
    header label {
        display:block;

    }
    label {
        margin-bottom: 10px;
    }
    .menu {
        position:absolute;
        background:  rgba(202, 150, 73, 0.925);
        width: 50%;
        margin-top: 60 px;
        margin-left: -70%;
        
        animation-delay: 0.1s;
        transition: all 0.4s;
    }
    
    .menu ul {
        flex-direction: column;
        
        text-shadow: 1px 1px white;
        border-radius: 10px;
        border: 2px groove;
        margin: 0px;
        padding: 0px;
    }
    
    #btn-menu:checked ~ .menu {
        margin: 60px 0px 0px 0px;
    }
    body{
        width: 580px;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .cajalogo{
        flex-direction:column;
        flex-wrap:wrap;
         

    }
    .logo {
        width: 100px;
        height: 100px;
        display:none;
    }
    

    .cajaopiniones{
        width: 70%;
        height: 100%;
    }
    .scroll{
        width: 100%;
        height: 200px;
    }

    /*----------CENTROS--------*/
    th {
        padding: 5px;
    }
    .fondotable{
        width: 500px;
        height: 50%;
        background-position: unset;
        text-align:start;
    }    

    .textotable {
        border-bottom: solid 3px rgb(0, 0, 0);
        font-size: 18px;
    }
   
    .fondotable th{
        border-right: 1px solid rgb(0, 0, 0);
    }
    

    /*----CONTACTO----*/

    /*----EQUIPO----*/
    .textequip {
        height: 70%;
        width: 560px; 
        display:flex;
        justify-content: center;
    }
    .carouselContainer {
        height: 80%;
        width: 80%;
        margin-bottom: 10px;
        
        display:flex;
        justify-content: center;
    }
    .d-md-block{
        display:block;
    }
    .d-none {
        display: block !important;
    }


    /*----SERVICIOS----*/


    .serviciosPadre{
        display:flex;
        flex-direction: column;

    }
    .servicio1{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio2 {
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio3{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }
    .servicio4{
        height: 20%;
        width: 90%;
         
        display:flex;
        flex-direction:row;
    }

}

