<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width initial-scale=1.0">
        <tittle class="titulo"> Centros de alta complejidad de OBSANL </tittle>

        <link rel="stylesheet"; type="text/css"; href= "../css/archivo.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



    </head>
    <body>

        <h1>CENTROS</h1>
        <br>
       
        <br>

 
        <header>
          <input type="checkbox" id="btn-menu">
          <label for="btn-menu"><img src="/img/LogoIcon.png" alt=""> 
          
          </label>
          <nav class="menu">
            <ul>
              <li><a href="/index.html">HOME</a></li>
              <li><a href="/views/centros.html">CENTROS</a></li>
              <li><a href="/views/contacto.html">CONTACTO</a></li>
              <li><a href="/views/equipo.html">EQUIPO</a></li>
              <li><a href="/views/servicios.html">SERVICIOS</a></li>
              <li><a href="/views/quienes_somos.html">QUIENES SOMOS</a></li>
             
            </ul>
          </nav>
    
    
        </header>
    
    


        <br>

        <table class="fondotable">

            <tr class="textotable">
                <th>Centro</th>
                <th>Ubicacion</th>
                <th>Telefono</th>
                <th>Estudios/Servicios</th>
            </tr>

            <tr>
                <th>Centro de imagenes</th>
                <th>Capital</th>
                <th>4551-6325</th>
                <th>
                    <ol>
                        <li>Radiografia</li>
                        <li>Ecografia</li>
                        <li>Resonancia</li>
                    </ol>
                </th>
            </tr>

            <tr>
                <th>Centro Exclusivo</th>
                <th> Norte </th>
                <th> 4552-5896</th>
                <th>
                    <ol>
                        <li> Quirofano </li>
                        <li> Guardia 24 hrs </li>
                        <li> Farmacia </li>
                        <li> Laboratorio </li>
                        <li> Animales exoticos </li>
                    </ol>
                </th>
            </tr>
            
            <tr>
                <th>Centro de cuidados</th>
                <th> Centro </th>
                <th> 4512-4578</th>
                <th>
                    <ol>
                        <li> Pet shop </li>
                        <li> Peluqueria </li>
                        <li> Guarderia </li>
                    </ol>
                </th>
            </tr>
            

        </table>
        <footer> Todos los derechos reservados para OBSANL 2021.</footer>
    </body>
</html>