<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width initial-scale=1.0">
        <tittle class="titulo"> Contacto con operadores OBSANL</tittle>

        <link rel="stylesheet"; type="text/css"; href="../css/archivo.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    
    </head>
    <body>

        <h1> CONTACTO </h1>
    <br>
      
    <header>
      <input type="checkbox" id="btn-menu">
      <label for="btn-menu"><img src="/img/LogoIcon.png" alt=""> 
      
      </label>
      <nav class="menu">
        <ul>
          <li><a href="/index.html">HOME</a></li>
          <li><a href="/views/centros.html">CENTROS</a></li>
          <li><a href="/views/contacto.html">CONTACTO</a></li>
          <li><a href="/views/equipo.html">EQUIPO</a></li>
          <li><a href="/views/servicios.html">SERVICIOS</a></li>
          <li><a href="/views/quienes_somos.html">QUIENES SOMOS</a></li>
         
        </ul>
      </nav>


    </header>



    <br>

     <form class="formulario" action="">
        <label for="nombre"> Nombre: </label>
        <input type=text placeholder="Ingrese su nombre" id=nombre>
        <br>
        <br>
        <label for="apellido"> Apellido: </label>
        <input type=text placeholder="Ingrese su apellido" id=apellido>
        <br>
        <br>
        <label for="mail"> Mail: </label>
        <input type="email" placeholder="Ingrese su mail"> 
        <br>
        <br>
        Mascota:<select name="" id="select">
                <option value="Perro"> Perro</option>
                <option value="Gato"> Gato</option>
                <option value="Ave"> Ave</option>
                <option value="Otro"> Otro</option>
                <input class="editOption" style="display:none;"></input>
                <input type=text placeholder=" Indique que mascota tiene ">
                
                </select> 

        <br>
        <br>

        ¿Desea recibir nuestro folleto digital?
        <input type="checkbox">

        <br>
        <br>

        Comentarios:

        <br>

        <textarea name="" id="" cols="50" rows="5" placeholder="Agregue algun dato extra"></textarea>

        <br>
        <br>

        <input type=submit>
        <input type=reset>
      


     </form>

    

    </body>
</html>