<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8">
        <meta name= "viewport" content="width=device=width initial-scale=1.0">
        <tittle class="titulo"> Conoce un poco de OBSANL</tittle>

        <link rel="stylesheet"; type="text/css"; href="../css/archivo.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
    </head>
    <body>
        <h1>QUIENES SOMOS</h1>
        <br>
        

        <header>
          <input type="checkbox" id="btn-menu">
          <label for="btn-menu"><img src="/img/LogoIcon.png" alt=""> 
          
          </label>
          <nav class="menu">
            <ul>
              <li><a href="/index.html">HOME</a></li>
              <li><a href="/views/centros.html">CENTROS</a></li>
              <li><a href="/views/contacto.html">CONTACTO</a></li>
              <li><a href="/views/equipo.html">EQUIPO</a></li>
              <li><a href="/views/servicios.html">SERVICIOS</a></li>
              <li><a href="/views/quienes_somos.html">QUIENES SOMOS</a></li>
             
            </ul>
          </nav>
    
    
        </header>
    
  <p class="descripcionQuienesSomos">Doña Uzeada de Ribera Maldonado de Bracamonte y Anaya era baja, rechoncha, abigotada. Ya no existia razon para llamar talle al suyo. Sus colores vivos, sanos, podian mas que el albayalde y el soliman del afeite, con que se blanqueaba por simular melancolias. Gastaba dos parches oscuros, adheridos a las sienes y que fingian medicamentos. Tenia los ojitos ratoniles, maliciosos. Sabia dilatarlos duramente o desmayarlos con recato o levantarlos con disimulo. Caminaba contoneando las imposibles caderas y era dificil, al verla, no asociar su estampa achaparrada con la de ciertos palmipedos domesticos. Sortijas celestes y azules le ahorcaban las falanges</p>    
  <footer> Todos los derechos reservados para OBSANL 2021.</footer>
</body>
</html>