<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8">
        <meta name= "viewport" content="width=device=width initial-scale=1.0">
        <tittle class="titulo"> Conoce un poco de OBSANL</tittle>

        <link rel="stylesheet"; type="text/css"; href="../css/archivo.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
    </head>
    <body>
        <h1>QUIENES SOMOS</h1>
        <br>
        

        
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="./centros.html">CENTROS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contacto.html">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./equipo.html">EQUIPO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./servicios.html">SERVICIOS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./quienes_somos.html">QUIENES SOMOS</a>
          </li>
      </ul>
    </div>
  </nav>
  <p class="descripcionQuienesSomos">Doña Uzeada de Ribera Maldonado de Bracamonte y Anaya era baja, rechoncha, abigotada. Ya no existia razon para llamar talle al suyo. Sus colores vivos, sanos, podian mas que el albayalde y el soliman del afeite, con que se blanqueaba por simular melancolias. Gastaba dos parches oscuros, adheridos a las sienes y que fingian medicamentos. Tenia los ojitos ratoniles, maliciosos. Sabia dilatarlos duramente o desmayarlos con recato o levantarlos con disimulo. Caminaba contoneando las imposibles caderas y era dificil, al verla, no asociar su estampa achaparrada con la de ciertos palmipedos domesticos. Sortijas celestes y azules le ahorcaban las falanges</p>    
    </body>
</html>